html {
    display: flex;

    height: 100vh;

    align-items: stretch;
}

body {
    flex-grow: 1;
}

input {
    text-align: right;
}

input,
button {
    font-size: 2rem;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

body,
#botonera {
    display: grid;
    gap: 0.5rem;
}

body {
    grid-template-rows: auto 1fr;
}

#botonera {
    grid-template-columns: repeat(4, 1fr);
}